@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*font-family: 'Source Code Pro', monospace;*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/*font-family: 'Orbitron', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    color: #e98208;
    font-family: 'Source Code Pro', monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 10px;
    font-size: 17px;
    text-align: center;
}

#clock {
    text-align: center;
    width: 90%;
    margin: 30px;
}

.clock-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clock-items {
    width: 10%;
    background-color: white;
    margin: 5px;
    padding: 20px;
    border-radius: 8px;
}

.clock-items p {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}

#date {
    font-size: 20px;
    margin: 5px;
}

.p-text {
    font-size: 15px;
}